@media (max-width: 2050px) {
    #box1, #box2 {
        flex-wrap: wrap;
    }

}
@media (max-width: 1950px) {
    #box {
        flex-wrap: wrap;
    }
}
@media (max-width: 1730px) {
    #box3 {
        flex-wrap: wrap;
    }
}
@media (max-width: 1655px) {
    #food-div {
        display: flex;
        flex-wrap: wrap;
    }
    #card-block2 {
        margin-top: 30px;
    }
}
@media (max-width: 1560px) {
    #facts-block {
        display: flex;
        flex-direction: column;
        padding: 0 100px 0 100px;
    }
}
@media (max-width: 1350px) {
    #section2-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #image-box1 {
        margin-top: 30px;
    }
    .accordian-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cat-gif {
        margin-top: 30px;
    }
    .main3-title {
        margin-left: 50px;
    }
}
@media (max-width: 1200px) {
    #facts-block {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 10px;
    }
    .video-block-title {
        font-size: 35px;
    }
}
@media (max-width: 1120px) {
    #card-block1 {
        margin-top: 30px;
    }
    .card-title {
        font-size: 20px;
    }
    #discover-title {
        font-size: 30px;
        margin-left: 20px;
    }
    .div-cont {
        margin-left: 20px;
    }

}
@media (max-width: 1024px) {
    .kart-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .karting-img {
        margin-right: 0;
        max-width: none;
        height: auto;
    }
    .burger-bar-div {
        display: block;
        margin-top: 35px;
    }
    .nav-ul {
        width: 100%;
        justify-content: flex-end;
        display: none;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo-image {
        margin-left: 55px;
    }
    .nav-ul {
        flex-direction: column;
    }
    .active {
        display: block;
    }
}
@media (max-width: 800px) {
    #facts-div {
        margin-top: 150px;
    }
    #section2-div {
        margin-top: 30px;
    }
    #image-box {
        height: 400px;
    }
} 
@media (max-width: 750px) {
    #things {
        font-size: 35px;
    }
    #title3 {
        font-size: 20px;
    }
    #hi, #hi1, #hi2 {
        font-size: 18px;
    }
    .main-food-title {
        font-size: 35px;
        margin-left: 40px;
    }
}
@media (max-width: 700px) {
    #box img {
        max-width: none;
        height: fit-content;
    }
}
@media (max-width: 630px) {
    .main3-title {
        margin-left: 20px;
    }
}
@media (max-width: 600px) {
    .cat-gif {
        max-width: 600px;
        width: 100%;

    }
    #image-box1 {
        display: none;
    }
}
@media (max-width: 480px) {
    .video-block-title {
        font-size: 25px;
    }
    #main-title {
        font-size: 50px;
    }
    #facts-div {
        margin-top: 10px;
    }
    .gallery-main-title {
        font-size: 35px;
    }
} 