

/* ===Header Styles===  */
.header-wrapper {
    width: 100%;
    background-color: #fff;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
}
.nav-ul {
    display: flex;
    align-items: center;
}
.logo-image {
    max-width: 87px;
    width: 100%;
    height: 105px;
    margin-top: 15px;
}
.header-links {
    margin-left: 25px;
    color: black;
    font-size: 16px;
    font-family: 'Bitter', serif;
    text-decoration: none;
}

/* ==SECTION 1== */
.main-page-bg {
    background-image: url(../images/pexels-tomáš-malík-3408354.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#section1 {
    width: 100%;
    height: fit-content;
    padding-top: 300px;
    display: flex;
    flex-direction: column;
}
#main-title {
    color: #000;
    font-size: 90px;
    margin: auto;
    margin-bottom: 35px;
    font-family: 'Bitter', serif;
    letter-spacing: 2px;
}
.animate__zoomInDown {
    animation-name: zoomInDown;
    animation-duration: 9s;
}
.main-page-text {
   color: rgb(0, 0, 0);
   font-size: 30px;
   margin: auto;
   font-family: 'Bitter', serif;
}
#btn {
    max-width: 160px;
    width: 100%;
    height: 60px;
    border: solid #000 4px;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn-link {
    color: #000;
    font-size: 18px;
    font-family: 'Bitter', serif;
    text-decoration: none;
}

/* SECTION 2 */
#image-block, #image-block1, #image-block2 {
    max-width: 1021px;
    height: 680px;
}
#image-box, #image-box1 {
    max-width: 1021px;
    height: 680px;
}
#section2-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
#discover-title {
    margin-top: 100px;
    font-size: 45px;
    font-family: 'Luckiest Guy', cursive;
}
#facts-div {
    background-image: url(../images/pexels-aleksandar-pasaric-4344748.jpg);
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 70%);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
.text-wrapper {
    color: #fff;
    font-size: 19px;
    font-family: 'Bitter', serif;
    line-height: 1.8;
}
#facts, #facts1 {
    color: #fff;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    padding-bottom: 20px;
    padding-top: 50px;
}
#facts-block {
    width: 100%;
    height: fit-content;
    padding: 60px 220px 0 220px;
    display: flex;
    flex-direction: column;
}
/*  Food Section */
#food-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.food-image-block {
    max-width: 515px;
    height: 343px;
    width: 100%;
}
#card-block, #card-block1, #card-block2 {
    max-width: 600px;
    height: fit-content;
    border: solid #ccc 4px;
    border-radius: 6px;
}
.card-title {
    color: #000;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Luckiest Guy', cursive;
}
.card-text-block {
    color: #000;
    font-size: 18px;
    font-family: 'Bitter', serif;
    margin-top: 10px;
}
.main-food-title {
    font-size: 40px;
    color: #000;
    font-family: 'Luckiest Guy', cursive;
    margin-left: 150px;
    margin-top: 50px;
}
/* =====section3==== */
#section3-image-block {
    display: flex;
    flex-direction: column;
}
#btn-cont {
    max-width: 190px;
    width: 100%;
    height: 90px;
    background-color: transparent;
}
#accordionExample {
    max-width: 940px;
    width: 100%;
    height: fit-content;
    margin-left: 145px;
    margin-right: 150px;
}
.main3-title {
    margin-left: 145px;
    margin-bottom: 80px;
}
#section3-block {
    margin-top: 200px;
}
#things {
    color: #000;
    font-size: 45px;
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', cursive;
}
#title3 {
    color: #000;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
}
#hi, #hi1, #hi2 {
    color: #000;
    font-size: 22px;
    font-family: 'Luckiest Guy', cursive;
}
.accordian-text {
    color: #000;
    font-size: 20px;
    font-family: 'Bitter', serif;
}
.accordian-block {
    display: flex;
}
.gif-div {
    width: fit-content;
    height: fit-content;
}
#video-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.museum-gif {
    max-width: 1076px;
    height: 606px;
    width: 100%;
}
.video-block-title {
    color: #000;
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 60px;
}
.video-btn {
    max-width: 260px;
    width: 100%;
    height: 70px;
    border: #000 double ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
    border-radius: 4px;
}
.video-block-link {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: 'Bitter', serif;
    font-weight: 600;
}
.video-block-link:hover {
    color: black;
}
.video-btn:hover {
    cursor: pointer;
}
.karting-div {
    max-width: 1100px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
.karting-img {
    max-width: 505px;
    height: 284px;
    width: 100%;
}